# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*

# Firebase
*serviceAccount*.json
firebase-admin*.json

# Logs
logs/
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/